main {
    min-height: calc(100vh - 160px);
  }

.img-fit {
  max-height: 100%;
}

.card{
  border: 0px;
  padding: 2%;
}

.col-md-6 {
  text-align: justify;
}
.card-date{
  position: absolute;
  bottom: 5%;
  left: 55%;
  
}

.img-fluid {
  margin-left: 3%;
  border-radius: 10%;
}